body, html {
    margin: 0;
    padding: 0;
}
#container {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    
}
.mainHeader {
    height: 60px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav {
    
    margin: 0 auto;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
ul.menu > li {
    display: inline-block;
    width: 200px;
    border-left: 1px solid black;
}
ul.menu > li:last-child {
    border-right: 1px solid black;
}

ul.menu > li > a {
    padding: 5px 15px;
    font-size: 14pt;
    text-decoration: none;
    color: steelblue;
}
ul.menu > li > a:hover {
    background-color: lightsteelblue;
    font-style: italic;
}

label {
    display: inline-block;
    width: 80px;
    text-align: right;
    font-style: italic;
}
input {
    width: 180px;
    
    border: 1px solid blue;
    background-color: #D3E7ED;
}
input:focus {
    border: 2px solid blue;
}
textarea {
    width: 176px;
    border: 1px solid blue;
    background-color: #D3E7ED;
}
textarea:focus {
    border: 2px solid blue;
}

button {
    width: 180px;
    margin-left: 86px;
    background-color: lightsteelblue;
    box-shadow: none;
    border: 2px solid blue;
}
section {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
}
.dBlock {
    display: block;
}
#interests #article #homepage {
    text-align: justify;
}
#contact {
    padding-left: 40px;
    margin-top: 50px;
}
footer {
    text-align: center;
    margin-top: 25px;
    font-style: italic;
}

button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#501ef5), to(#65a9d7));
   background: -webkit-linear-gradient(top, #501ef5, #65a9d7);
   background: -moz-linear-gradient(top, #501ef5, #65a9d7);
   background: -ms-linear-gradient(top, #501ef5, #65a9d7);
   background: -o-linear-gradient(top, #501ef5, #65a9d7);
   padding: 9px 18px;
   -webkit-border-radius: 11px;
   -moz-border-radius: 11px;
   border-radius: 11px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 15px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
button:hover {
   border-top-color: #2a3a45;
   background: #2a3a45;
   color: #ccc;
   }
button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }