:focus {
	outline:none;
}

.fortune {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    height: 800px;
}

.phrase {
    text-align: center;
    letter-spacing: 18pt;
}

.leftSide {
	color: red;
    float: left;
    width: 750px;
}

.rightSide {
	color: blue;
    float: right;
    width: 250px;
}

.clear {
    content: " ";
    clear: both;
}

.correctLetter {
    border: 1px solid green;
}

.incorrectLetter {
    border: 1px solid red;
}

.greenColor {
    color: green;
}