/*  #040F0F - 1 CZARNY
    #248232 - 2 ZIELEN
    #2BA84A - 3 JASNY ZIEL
    #2D3A3A - 4 GRANIT
    #FCFFFC - 5 BIALE
*/
/*  font-family: 'Roboto Slab', serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Amatic SC', cursive;
*/
* {
    font-family: 'Noto Sans', sans-serif;
}
body > div.container {
    padding: 0px;
}
header {
    background-color: #248232;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    margin-top: 0px;
    padding-bottom: 20px;
}
header span.map-sign-logo {
    font-size: 60px;
    padding-top: 15px;
    padding-left: 15px;
    color: #2D3A3A;
}
header div.titles {
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    color: #2D3A3A;
}
header h2 {
    font-style: italic;
    font-size: 1.5em;
    margin-top: 0px;
}
nav.navbar {
    background-color: #FCFFFC;
    max-width: 100%;
    border: 1px solid #2BA84A;
}
.navbar-nav{
    float:none;
    margin: 0 auto;
    margin-top: 5px;
    display: table;
    table-layout: fixed;
}
.navbar-nav > li > a {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #040F0F;
    border-right: 1px dotted #248232;
    font-size: 1.2em;
}
.navbar-nav > li:last-child > a {
    border: none;
}
.navbar-nav > li:hover {
    background-color: #2BA84A;
    color: #FCFFFC;
}
.navbar-nav > li:hover > a {
    color: #FCFFFC;
}
.navbar-nav > li:hover > a:hover {
    color: #FCFFFC;
}
.navbar-header button.navbar-toggle:hover {
    background-color: #2BA84A; 
}
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #FCFFFC;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #2BA84A;
}
.navbar-default .navbar-toggle {
    border-color: #2BA84A;
    background-color: #FCFFFC;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
        .navbar-default .navbar-collapse {
        padding: 0px;
    }
    .navbar-default .navbar-collapse> ul.nav.navbar-nav {
        padding: 0px;
        margin: 0px;
        margin: auto;
        width: 100%;
    }
    .navbar-default .navbar-collapse> ul.nav.navbar-nav > li {
        margin: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .navbar-default .navbar-collapse> ul.nav.navbar-nav > li > a {
        border: none;
        text-align: center;
    }
}
article {
    background-color: #FCFFFC;
    max-width: 1000px;
    min-height: 300px;
    margin: 0 auto;
}
article h4 {
    text-align: center;
    font-weight: bold;
}
.button-area {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
button.btn-success {
    padding: 5px 20px 5px 20px;
    margin-right: 20px;
}



footer {
    background-color: #2D3A3A;
    margin: 0;
    padding: 15px;
    font-family: 'Noto Sans', cursive;
    font-size: 0.8em;
    color: #FCFFFC;
    text-align: center;
}




/* GOOGLE MAP*/
#map {
    width: auto;
    min-height: 300px;
}
