.mydropdown {
    margin-top: 30px;
}
.mydropdown-menu {
    /*margin-left: -15px;*/
}
h3 {
    margin-left: 15px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    min-height: 500px;    /* Set slide height here */
}
