.container {
    width: 800px;
    margin: 0 auto;
}
button {
    width: 341px;
    height: 60px;
}
.answers {
    text-align: center;
}
header {
    margin: auto;
    margin-left: 60px;
}
.question {
    text-align: center;
    font-size: 18pt;
}